@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/NotoSerif-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/NotoSerif-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Display", "Helvetica", sans-serif;
}
a {
  color: #000;
}
a:hover {
  color: #666;
}